.node {
  width: 2.5em;
  height: 2.5em;
  border: 0.5px solid lightgray;
}

.nodeVisited {
  animation-name: visitedAnimation;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    background-color: var(--primary);
    opacity: 0.5;
  }
}

.nodeShortestPath {
  animation-name: shortestPath;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    background-color: var(--green);
    opacity: 0.6;
  }
}

.nodeStart {
  background-color: var(--green);
}
.nodeEnd {
  background-color: var(--red);
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .node {
    width: 1.5em;
    height: 1.5em;
  }
}

.isWall {
  background-color: var(--secondary);
}
