.parent {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: white;
  position: relative;
  transition: 50ms ease-in-out;
  margin-top: 1em;
}

.children {
  position: relative;
  display: flex;
  width: min-content;
  padding-top: 0.5em;
  gap: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1200px) {
  .children {
    gap: 0.5em;
  }
}

@media (max-width: 768px) {
  .children {
    gap: 0;
  }
}

@media (max-width: 540px) {
  .parent {
    height: 1.5rem;
    width: 1.5rem;
  }
}
