:root {
  --secondary: #3d3a4b;
  --primary: #8d99ae;
  --primary-hover: #596271;
  --background: lightgray;
  --green: #99edcc;
  --red: #ee4266;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--secondary) !important;
  outline: none;
  opacity: 0.8;
  width: 100%;
  max-width: 50rem;
  margin: 0.5em 2em;
  color: black;
  background-color: black;
  transition: 200ms ease-in-out;
}
input[type='range']:disabled {
  opacity: 0.6;
}

input[type='range']:hover {
  opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background-color: var(--primary);
  cursor: pointer;
}

.navbar {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.btn {
  border: none;
  background-color: var(--primary);
  box-shadow: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: 200ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover);
  transition: 200ms ease-in-out;
}

.btn:disabled {
  opacity: 0.7;
}

.btn-active {
  background-color: var(--primary-hover);
  transition: 200ms ease-in-out;
}

.btn-primary {
  text-transform: uppercase;
}

.icon-btn {
  padding: 0;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
}

.layout {
  display: flex;
  position: relative;
  width: 100vw;
}

.main {
  width: 100%;
}

@media (max-width: 1200px) {
  .main {
    margin-left: 2em;
    padding-left: 1em;
  }
}
